*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
        --primary-color: #137063; 
        --secondary-color:#D3D3B0;
    --accent-color: #D26D56;
    --text-color: #333333; 
    --background-color: #F8F8F8;

    --text-color2:var(--background-color);
    --background-color2:var(--primary-color);

   overflow-x: hidden;
}
body{
    height: 100vh;
}

